*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  overflow: hidden; }
  .container__navigation-content {
    max-width: 114rem; }
  .container__heading-content {
    max-width: 105rem; }
  .container__timeline {
    max-width: 105rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000000; }
  .container__features {
    max-width: 105rem; }

@font-face {
  font-family: 'Futura';
  src: url("../../fonts/FuturaLT.ttf");
  src: url("../../fonts/FuturaLT.woff"); }

body {
  font-size: 1.6rem;
  font-family: 'Futura', sans-serif;
  color: #ffffff; }

.heading {
  font-weight: 300;
  text-align: left;
  margin: 10rem 0 5rem 0; }
  .heading__main {
    display: block;
    font-size: 6rem;
    padding: 1rem;
    letter-spacing: 0.3rem; }
  .heading__sub {
    display: block;
    font-size: 6rem;
    padding: 1rem;
    letter-spacing: 0.3rem; }

.small-event-picture {
  height: 30rem;
  width: 47.5rem; }

#share {
  border: none;
  color: #006df0;
  font-size: 2rem; }

#color-white {
  color: #ffffff; }

#big-title {
  font-size: 6rem;
  letter-spacing: 0.5rem; }

.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin: 2.75rem 0 0 1.1rem;
  padding: 1rem 5.5rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.3rem; }
  .btn-blue {
    background: linear-gradient(to right, #045ac4, #0096ef); }

.icon {
  height: 5rem;
  max-width: 25rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .icon__play {
    fill: #006df0;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    cursor: pointer; }

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 4rem; }
  .features__image {
    max-width: 30rem;
    max-height: 100%;
    object-fit: fill; }
  .features__description {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%; }
  .features__title {
    font-size: 3rem;
    color: #333333; }
  .features__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #333333; }
  .features__text {
    color: #000000; }
  .features__misc {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%; }
    .features__misc p {
      font-size: 1.8rem;
      color: #006df0;
      margin-right: auto; }
    .features__misc a {
      color: #000000;
      text-decoration: none;
      border-bottom: 0.15rem solid #006df0; }
  .features__location-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .features__location-and-time p {
      color: #000000;
      padding: 0.5rem;
      margin-right: 3rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/main-img.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 85%; }
  .navbar__logo {
    font-size: 1.9rem;
    font-weight: 300;
    padding: 1rem; }
  .navbar__logo-link {
    text-decoration: none;
    color: #ffffff; }
  .navbar__logo-link:active, .navbar__logo-link:visited {
    text-decoration: none;
    color: #ffffff; }
  .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
  .navbar__menu-item {
    padding: 1rem;
    margin: 1rem;
    list-style: none;
    font-weight: 300;
    cursor: pointer; }
  .navbar__menu-item-link {
    color: #ffffff;
    text-decoration: none; }

.timeline {
  height: 100%;
  width: 100%;
  margin: 7.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .timeline__description {
    padding: 0.5rem;
    cursor: pointer; }
  .timeline:not(:last-child) {
    content: '';
    border-right: 0.1rem solid #7f8486; }
  .timeline:first-child {
    border: transparent;
    border-radius: 0.2rem; }
  .timeline__today {
    background-image: linear-gradient(to right, #045ac4, #0096ef);
    color: #ffffff;
    padding: 3.5rem 0.2rem; }
  .timeline__description-date {
    display: block;
    padding: 1.5rem;
    color: #7f8486; }
  .timeline__description-events {
    display: block;
    padding: 1rem; }
