*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.container {
  margin: 0 auto; }
  .container__navigation-content {
    max-width: 114rem; }
  .container__heading-content {
    max-width: 95rem; }
  .container__timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000; }

@font-face {
  font-family: 'Futura';
  src: url("../../fonts/FuturaLT.ttf");
  src: url("../../fonts/FuturaLT.woff"); }

body {
  font-size: 1.6rem;
  font-family: 'Futura', sans-serif;
  color: #ffffff; }

.heading {
  font-weight: 300;
  text-align: left;
  margin: 10rem 0 5rem 0; }
  .heading__main {
    display: block;
    font-size: 6rem;
    padding: 1rem;
    letter-spacing: 0.3rem; }
  .heading__sub {
    display: block;
    font-size: 6rem;
    padding: 1rem;
    letter-spacing: 0.3rem; }

.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin: 2.75rem 0 0 1.1rem;
  padding: 1rem 5.5rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 5rem rgba(0, 109, 240, 0.6); }
  .btn-blue {
    background: linear-gradient(to right, #006df0, #045ac4); }

.icon {
  height: 5rem;
  max-width: 25rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .icon__play {
    fill: #006df0;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    cursor: pointer; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/main-img.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__logo {
    font-size: 1.9rem;
    font-weight: 300;
    padding: 1rem; }
  .navbar__logo-link {
    text-decoration: none;
    color: #ffffff; }
  .navbar__logo-link:active, .navbar__logo-link:visited {
    text-decoration: none;
    color: #ffffff; }
  .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
  .navbar__menu-item {
    padding: 1rem;
    margin: 1rem;
    list-style: none;
    font-weight: 300;
    cursor: pointer; }
  .navbar__menu-item-link {
    color: #ffffff;
    text-decoration: none; }
