.header {
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../../img/main-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}