.btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin: 2.75rem 0 0 1.1rem;
  padding: 1rem 5.5rem;
  text-decoration: none;
  color: $color-white;
  border-radius: 0.3rem;

  &-blue {
    background: linear-gradient(
      to right,
      $color-primary-dark,
      $color-primary-light
    );
  }
}

// See more button
.smbtn {
  color: $color-black;
  text-decoration: none;
  border-bottom: 0.15rem solid $color-primary;
}
