*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;

  &__navigation-content {
    max-width: 114rem;
  }

  &__heading-content {
    max-width: 95rem;
  }

  &__timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-black;
  }
}
