@font-face {
  font-family: 'Futura';
  src: url('../../fonts/FuturaLT.ttf');
  src: url('../../fonts/FuturaLT.woff');
}

body {
  font-size: 1.6rem;
  font-family: 'Futura', sans-serif;
  color: $color-white;
}

.heading {
  font-weight: 300;
  text-align: left;

  margin: 10rem 0 5rem 0;

  &__main {
    display: block;
    font-size: 6rem;
    padding: 1rem;
    letter-spacing: 0.3rem;
  }

  &__sub {
    display: block;
    font-size: 6rem;
    padding: 1rem;
    letter-spacing: 0.3rem;
  }
}
