.small-event-picture {
  height: 30rem;
  width: 47.5rem;
}

#share {
  border: none;
  color: $color-primary;
  font-size: 2rem;
}

#color-white {
  color: $color-white;
}

#big-title {
  font-size: 6rem;
  letter-spacing: 0.5rem;
}
