// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #006df0;
$color-primary-light: #0096ef;
$color-primary-dark: #045ac4;
$color-grey: #7f8486;
$color-grey-light: #b2b2b2;
$color-grey-light-2: #b2b2e2;
$color-grey-dark: #333333;
$color-grey-dark-2: #121213;

// Shadows
$main-shadow: 0.1rem 0.2rem rgba($color-black, $alpha: 0.3);
